html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 62.5%;
  font-family: 'Saira Stencil One', cursive;
  background: rgb(247,247,247);
  background-image: linear-gradient(320deg, rgba(247, 247, 247, 0.849) 0%, rgba(235, 226, 181, 0.815) 41%, rgba(255, 221, 0, 0.87) 100%),
    url('images/TUMBLEWEEDS.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding: 2.5rem 2.5rem 0 2.5rem;
}

.title-container h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  margin-top: 0px;
  font-style: italic;
}

.control {
  font-size: 2rem;
}

.game-container {
  max-width: 1200px;
  margin: 0 auto;
  padding:  0 2rem;
}

.game-area {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 600px;
}

button {
  opacity: 1;
  padding: 10px 15px;
  font-size: 1.5rem;
  color: #000;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.473);
  margin: 3px;
  transition: opacity 0.3s ease;
}

.dim {
  opacity: 0;
}

.letter-output-container {
  padding: 0 1rem 0 1rem;
  display: flex;
  justify-content: center;
}

.letter-output {
  display: inline-block;
  font-size: 4rem;
  padding: 0 1rem 0 1rem;
}

.modal-toggle {
  background-color: rgb(89, 149, 218);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  opacity: 0.99999;
  z-index: -1;
  position: absolute;
  visibility: hidden;
  transform: scale(0);
  opacity: 1;
  transition: all 0.3s ease;
}

.modal-toggle-show {
  z-index: 0;
  visibility: visible;  
  transform: scale(1);
  opacity: 1;
}

.modal {
  width: 100%;
  background-color: #fff;
  height: 600px;
  opacity: 1;
  margin-top: 70px;
  text-align: center;
  padding-top:30px; 
}

.final-msg {
  margin-top: 10px;
  font-size: 4rem;
}

.winning-word {
  font-size: 2rem;
}

.winning-word-span {
  text-transform: uppercase;
  font-weight: bold;

}


